{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <a class="btn btn-outline-primary btn-sm" href="{{ path('ticket.buy') }}">
        К покупке билета
    </a>

    <div class="container mt-4 bg-light">
        <h2>Пассажир</h2>
        {{ form_start(form) }}
        <div class="row g-3 justify-content-start mt-4">
            <div class="col-2">
                {{ form_row(form.surname) }}
            </div>
            <div class="col-2">
                {{ form_row(form.name) }}
            </div>
            <div class="col-2">
                {{ form_row(form.patronymic) }}
            </div>
            <div class="col-1 align-self-center offset-md-1">
                <p>Паспорт</p>
            </div>
            <div class="col-2">
                {{ form_row(form.passportSeries) }}
            </div>
            <div class="col-2">
                {{ form_row(form.passportNumber) }}
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-1">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}